* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
select,
option,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  list-style: none;
  font-family: "Microsoft Yahei", "Arial";
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
html,
body {
  max-width: 750px;
  min-height: 100%;
  line-height: 1;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input {
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  outline: none;
}
input[type=button] {
  -webkit-appearance: none;
  outline: none;
}
/* custom */
a {
  color: #7e8c8d;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
  /*隐藏被旋转div的背面*/
  -webkit-tap-highlight-color: unset;
  /*除去a标签高亮*/
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}
body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.clearfix:after {
  display: block;
  content: "";
  clear: both;
  visibility: hidden;
}
