html{
    height: 100%;
}
body{
    height: 100%;
    background: #eaf0f6;
    overflow: hidden;
}
a:hover, a:focus{
    color: #fff;
}
/* 头部样式 */
.headCon{
    width: 100%;
    overflow: visible;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;
}
.head{
    min-width: 1349px;
    background-color: #2a4b5e;
}
.loge{
    float: left;
    margin: 10px 15px 0 20px;
}
.loge img{
    width: 166px;
    height: 47px;
}
.nav{
    float: left;
}
.nav li{
    float: left;
    line-height: 62px;
    font-size: 15px;
    color: rgba(255,255,255,0.5);
    margin: 0 15px;
    border-bottom: 6px solid #2a4b5e;
    cursor: pointer;
}
.nav li:hover{
    color: #fff;
    border-bottom: 6px solid #54b3b2;
}
.nav .active{
    color: #fff;
    border-bottom: 6px solid #54b3b2;
}
.headRight{
    float: right;
    margin-right: 20px;
}
.headRight li{
    float: left;
    height: 68px;
    line-height: 68px;
    margin-right: 30px;
    cursor: pointer;
}
.headRight li:nth-child(3){
    margin-right: 0;
}
.headRight .pic1{
    width: 42px;
    height: 42px;
}
.headRight .pic2{
    width: 10px;
    height: 6px;
}
.headRight .pic3{
    width: 25px;
    height: 25px;
}
.headRight .pic4{
    width: 24px;
    height: 25px;
}
.subNav{
   width: 100%; 
}
.subNav ul{
    min-width: 1349px;
    padding-left: 54px;
    background: #3c637a;
}
.subNav li{
    float: left;
    line-height: 60px;
    color: rgba(234,240,246,0.5);
    font-size: 15px;
    padding: 0 18px;
    background: #3c637a;
    cursor: pointer;
}
.subNav li:hover{
    background: #31586e;
    color: #fff;
}
.subNav .active{
    background: #31586e;
    color: #fff;
}
/* 头部结束 */

/* wrapper start */
.mainCon{
    width: 96%;
    overflow: hidden;
    padding: 12px 24px;
    background: #fff;
    border-radius: 5px;
    margin: 5px auto 0
}
.box{
    height: 100%;
}
.box-pic{
    float: left;
    width: 27%;
    height: 100%;
    background: #fff;
    margin-right: 1%;
    border-radius: 4px;
    padding: 8px 28px 8px;
}
.box-pic a{
    display: inline-block;
    height: 34px;
    line-height: 34px;
    color: #fff;
    font-size: 18px;
    padding: 0 8px 0 38px;
    background: #54b3b2 url(../images/fullScreen1.png) no-repeat 10px center;
    border-radius: 4px;
    margin-bottom: 8px;
}
.box-pic a:hover{
    background-color: #5fc2c1
}
.box-pic img{
    display: block;
    width: 90%;
    height: auto;
}
.box-pic p{
    text-align: center;
    color: #4d4d4d;
    font-size: 16px;
    line-height: 20px;
}
.box-table {
    width: 72%;
    height: 100%;
    float: left;
    background: #fff;
    border-radius: 4px;
}
.layui-table-header{
    border-radius: 4px 4px 0 0;
}
.layui-table-view {
    border-radius: 4px;
    border: none;
}
.layui-table, .layui-table-view {
    margin: 0;
}
.layui-table thead tr{
    background: #54b3b2;
    border: 2px solid #54b3b2;
}
.layui-table thead span{
    font-size: 16px;
}
.layui-table-view .layui-table th {
    padding: 10px 0;
}
.layui-table th{
    color: #feffff;
}
.layui-table-view .layui-table {
    width: 100%;
}
.layui-table-cell{
    height: auto!important;
    white-space: normal;
    padding: 0;
}
.layui-table-view .layui-table td{
    padding: 3px 0;
}
.layui-form-checked[lay-skin=primary] i {
    border-color: #0ac6c4;
    background-color: #0ac6c4;
    color: #fff;
}
.layui-table-page {
    text-align: center;
    border: none;
}
.layui-table-sort .layui-table-sort-desc{
    border-top-color: #fff;
}
.layui-table-sort .layui-table-sort-asc{
    border-bottom-color: #fff;
}
.layui-table-sort[lay-sort=desc] .layui-table-sort-desc {
    border-top-color: #b2b2b2;
}
.layui-table-sort[lay-sort=asc] .layui-table-sort-asc {
    border-bottom-color: #b2b2b2;
}


/* 滚动条样式 */
.layui-table-body::-webkit-scrollbar {
    width: 8px;    
    height: 1px;
}
.layui-table-body::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #b2babc;
}
