html{
    height: 100%;
}
body{
    height: 100%;
    overflow: hidden;
}
.box{
    height: 100%;
}
.box-search{
    padding-bottom: 10px;
    border-bottom: 2px solid #54b3b2;
    margin-bottom: 20px;
}
.searchLeft{
    float: left;
}
#timeBtn1,#timeBtn2{
   width: 200px;
   height: 34px;
   border-radius: 6px;
   line-height: 34px;
   text-indent: 10px;
   font-size: 16px;
   color: #7d7d7d;
   background: #f5f6fa url(../images/calendarIcon.png) no-repeat 166px center;
   background-size: 24px 24px;
   margin-right: 25px;
   float: left;
}
.searchLeft .searchBtn1{
    display: inline-block;
    width: 62px;
    height: 34px;
    border-radius: 6px;
    background: #54b3b2;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 34px;
    float: left;
}
.searchLeft .searchBtn1:hover{
    background: #5cbbba;
}
.searchRight{
    float: right;
    width: 366px;
    height: 34px;
    border: 1px solid #54b3b2;
    border-radius: 4px;
}
.choose{
    float: left;
    position: relative;
}
.choose>a{
    display: inline-block;
    font-size: 16px;
    color: #2a4b5e;
    width: 108px;
    line-height: 33px;
    font-weight: bold;
    text-indent: 10px;
    background: url(../images/arrow.png) no-repeat 88px center;
    background-size: 12px 6px;
    border-right: 1px solid #54b3b2;
}
.choose .hideBox{
    display: none;
    position: absolute;
    width: 108px;
    font-weight: bold;
    background: #fff;
    border: 1px solid #54b3b2;
    border-top: none;
    z-index: 10;
}
.choose .hideBox li{
    font-size: 14px;
    color: #2a4b5e;
    line-height: 34px;
    text-indent: 10px;
    cursor: pointer;
}
.choose .hideBox li:hover{
    color: #fff;
    background: #0ac6c4;
}
.searchRight .searchCon{
    float: left;
    width: 222px;
    line-height: 32px;
    font-size: 16px;
    color: #7d7d7d;
    text-indent: 10px;
}
.searchRight .searchBtn2{
    float: right;
    width: 34px;
    height: 32px;
    background: url(../images/searchIcon.png) no-repeat;
    background-size: 34px 32px;
}

.box-table {
    width: 100%;
}
.layui-table, .layui-table-view {
    margin: 0;
}
.layui-table thead tr{
    background: #54b3b2;
    border: 2px solid #54b3b2;
}
.layui-table thead span{
    font-size: 16px;
}
.layui-table-view .layui-table th {
    padding: 10px 0;
}
.layui-table th{
    color: #feffff;
}
.layui-table-view .layui-table {
    width: 100%;
}
.layui-table-cell{
    height: auto!important;
    white-space: normal;
}
/* .layui-table-view .layui-table td{
    padding: 0;
} */
.layui-form-checked[lay-skin=primary] i {
    border-color: #0ac6c4;
    background-color: #0ac6c4;
    color: #fff;
}
.layui-table-page {
    text-align: center;
}
.layui-table img {
    display: block;
    padding: 2px;
}

/* 滚动条样式 */
.layui-table-body::-webkit-scrollbar {
    width: 8px;    
    height: 1px;
}
.layui-table-body::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #b2babc;
}