<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hinova.dao.GradeDao">
	<resultMap type="Grade" id="GradeResult">
		<result property ="gid" column="id" />
		<result property ="gname" column="name" />
		<result property ="editUser" column="edit_user_id" />
		<result property ="createUser" column="create_user_id" />
		<result property ="createTime" column="create_time" />
		<result property ="editTime" column="edit_time" />
		<result property ="isDelete" column="is_delete" />
		<result property ="description" column="description" />
	</resultMap>

	<select id="list" parameterType="map" resultMap="GradeResult">  
       SELECT id,name,create_user_id,edit_user_id,description,date_format(create_time, '%Y-%m-%d %H:%i:%s') as create_time,date_format(edit_time, '%Y-%m-%d %H:%i:%s') as edit_time from  nh_config_grade
			<if test="start!=null and size!=null">
				limit #{start},#{size}
			</if>
	</select>  
	<select id="listgrade" parameterType="map" resultMap="GradeResult">  
       SELECT id,name from  nh_config_grade where is_delete = '0'
	</select>
	<select id="getTotal" parameterType="Map" resultType="Integer">
       SELECT count(*) from  nh_config_grade
			<if test="start!=null and size!=null">
				limit #{start},#{size}
			</if>
	</select>
	<insert id="add" parameterType="Grade">
		INSERT INTO nh_config_grade (id,name,create_user_id,create_time,edit_time,is_delete,description) VALUES (null,#{gname},#{createUser},SYSDATE(),SYSDATE(),'0',#{description})
	</insert>
	<update id="edit" parameterType="Grade">
		update nh_config_grade
		<set>
			<if test="gname!=null  ">
				name=#{gname},
			</if>
			<if test="description!=null and description!=''  ">
				description=#{description},
			</if>
			<if test="editUser!=null and editUser!=''  ">
				edit_user_id=#{editUser},
			</if>
				edit_time= SYSDATE()
		</set>
		where id = #{gid}
	</update>
	<select id="findById" parameterType="Integer" resultMap="GradeResult">
		select * from nh_config_grade where id=#{id}
	</select>
	
	<select id="findByName" parameterType="String" resultMap="GradeResult">
		select * from nh_config_grade where name=#{name}
	</select>
	
	<delete id="delete_grade" parameterType="Integer">
		delete from nh_config_grade where id=#{id}
	</delete>
</mapper>