<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hinova.dao.RoleDao">
	
	<resultMap type="Role" id="RoleResult">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="password" column="password" />
		<result property="createDateTime" column="createDateTime" />
		<result property="menuIds" column="menuIds" />
		<result property="remark" column="remark" />
		<result property="trueName" column="trueName" />
	</resultMap>
	
	<insert id="add" parameterType="Role">
		insert into nh_role	values(null,#{name},#{password},#{createDateTime},#{menuIds},#{remark},#{trueName})
	</insert>
	
	<update id="update" parameterType="Role">
		update nh_role
		<set>
			<if test="name!=null  ">
				name=#{name},
			</if>
			<if test="password!=null and password!=''  ">
				password=#{password},
			</if>
			<if test="createDateTime!=null ">
				createDateTime=#{createDateTime},
			</if>
			<if test="remark!=null  ">
				remark=#{remark},
			</if>
			<if test="trueName!=null  ">
				trueName=#{trueName},
			</if>
			<if test="menuIds!=null  ">
				menuIds=#{menuIds},
			</if>
			 
		</set>
		where id=#{id}
	</update>
	
	
	<select id="list" parameterType="Map" resultMap="RoleResult">
		select * from nh_role
		<where>
			<if test="q!=null and q!=''">
				and (name like #{q}  or remark like #{q}  or trueName like #{q}) 
			</if>
			<if test="date1!=null and date1!='' ">
		 		and createDateTime &gt; #{date1} 
			</if>
			<if test="date2!=null and date2!='' ">
		 		and createDateTime &lt;  #{date2} 
			</if>
		</where>
		order by id DESC
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
	</select>
	
	<select id="getTotal" parameterType="Map" resultType="Integer">
		select count(*) from nh_role
		<where>
			<if test="q!=null and q!=''">
				and (name like #{q}  or remark like #{q}  or trueName like #{q}) 
			</if>
			<if test="date1!=null and date1!='' ">
		 		and createDateTime &gt; #{date1} 
			</if>
			<if test="date2!=null and date2!='' ">
		 		and createDateTime &lt;  #{date2} 
			</if>
		</where>
	</select>
	
	<select id="findById" parameterType="Integer" resultMap="RoleResult">
		select * from nh_role where id=#{id}
	</select>
	
	<select id="findByName" parameterType="String" resultMap="RoleResult">
		select * from nh_role where name=#{name}
	</select>
	
	<delete id="delete" parameterType="Integer">
		delete from nh_role where id=#{id}
	</delete>
	<select id="listRole"  resultMap="RoleResult">
		select id,name from nh_role
	</select>
</mapper> 